$bgStripe: #0020330D;


.proposedWayCard{
    margin-top: 2.5em;
    width: 90em;
    height: 24em;
    padding-left: 2em;
    padding-top: 2em;
    background-color: $bgStripe;
}

.arrowButtons{
    float: right;
    padding-right: 2em;
}

