
.titleArea{
    display: flex;
    align-items: center;
    margin-top: auto;
    padding-top: 2em;
    padding-bottom: 0.5em;
}

.secondArea{
    padding-bottom: 0.5em;
}

.contentArea{
    padding-bottom: 2em;
}

// .buttonArea{
// }